default_language_version:
  python: "3.13"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: check-xml
      - id: check-executables-have-shebangs
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: .*\.json
      - id: name-tests-test
        args:
          - --pytest-test-first
        exclude: ^tests/utils
      - id: pretty-format-json
        args:
          - --autofix
          - --no-sort-keys
  
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
        # Run the linter.
      - id: ruff-check
        types_or: [ python, pyi, jupyter ]
        args: [ --fix, --config, pyproject.toml]
      # Run the formatter.
      - id: ruff-format
        types_or: [ python, pyi, jupyter ]
        args: [ --config, pyproject.toml ]
  
  - repo: https://github.com/python-poetry/poetry
    rev: '2.2.1'
    hooks:
      - id: bandit
        args: [ -c, pyproject.toml, --severity-level, high ]
        addtional_dependencies: [toml]
  
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        args: [ --config-file, pyproject.toml ]
        additional_dependencies:
                  - "pydantic>=2,<3"